@{
	ViewData["Title"] = "Politicas de privacidade";
}
<h1>@ViewData["Title"]</h1>

<div class=" container d-flex dlex-column justify-content-center align-items-center min-vh-100 py-5">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bolder fst-italic "> Sobre o(a) Dev... </h1>
		<p class="lead"> Politicas de privacidade</p>
		<p class="lead text-muted">Blablabla</p>

		<div class="card mt-2 width: 18rem; margin: 0 auto  ">
			<div class="card shadow-sm">
				<div class="card-body">

					<img src="~/img/juztin beber bazketball.jpg" />
					<h5>Gabi :)</h5>
				</div>

			</div>

			<p>.Sou uma pessoa movida por desafios e curiosidade, sempre em busca de aprender e evoluir. Ao longo da minha trajetória, desenvolvi habilidades que combinam criatividade, organização e foco em resultados.Dev muito boa no que faz, fez esse app aqui no precinho totalmente funcional, chama lá!</p>
			<a class="btn" href="https://github.com/Gabi08-l"><i class="bi bi-github btn btn-info btn-lg btn-sm"></i>GitHub</a>
		</div>
	</div>

